.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 20px;
  margin-left: 40%;
}

.footer-item {
  text-align: center;
}

.footer-item h1 {
  font-size: 36px;
  margin-bottom: 5px;
  color: #049eb3;
}

.footer-item p {
  font-size: 14px;
  color: #666;
}